.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  min-height: 400px;
  height: auto; 
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.heroTitle {
  margin-top: clamp(1.5rem, 100vw, 15.5rem);
  font-family: Unbounded, Arial, sans-serif;
  font-weight: bold;
  font-size: clamp(2.5rem, 10vw, 5.5rem);
  padding: 0 clamp(0.5rem, 4vw, 5.5rem);
  color: white;
}

.details {
  color: white;
  font-weight: bold;
  margin-top: clamp(0.5rem, 2vw, 10.0rem);
  font-size: clamp(1.5rem, 3vw, 2.8rem);
  padding: 0 clamp(0.5rem, 4vw, 5.5rem);
}

.details1 {
  color: white;
  margin-top: clamp(0.5rem, 2vw, 10.0rem);
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  padding: 0 clamp(0.5rem, 4vw, 5.5rem);
  font-style: italic;
}

.Button {
  display: flex;
  justify-content: flex-end;
  padding: 0 clamp(1.5rem, 3vw, 3.5rem) clamp(0.5rem, 5vw, 2.5rem) 0;
}

.bookButton {
  border: none;
  background-color: #f1dcc9;
  color: #6c2d2c;
  border-radius: 12px;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 1vw, 2rem);
  font-weight: bold;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  cursor: pointer;
  transition: background-color 0.3s;
}

.bookButton:hover {
  background-color: #6c2d2c;
  color: #f1dcc9;
}

/**page.tsx**/
.description {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 20px;
}

.leftContainer {
  width: 15%;
}

.rightContainer {
  font-family: Stolzl, Arial, sans-serif;
  /* flex: 6; */
  text-align: justify;
width: 85%;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
  border-left: 3px solid #9f4636;
}

.leftMenu li{
list-style: none;
margin-bottom: 15px;
}

.leftMenu ul {
  list-style: none; /* убираем маркеры */
  margin-left: 20px;
  padding: 0;
}

.breadcrumbLink{
  text-decoration: none;
  color: #9f4636;
  font-weight: bold;
  font-size: clamp(0.4rem, 1.5vw, 1.2rem);
}

  .tourName{
    font-size: clamp(1.2rem, 2vw, 2.0rem);
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
  }

  .countryText{
    font-size: clamp(0.8rem, 1.8vw, 1.2rem);
    margin: 30px 10px;
    color: rgb(82, 81, 81);
  }

  .containerschedule{  
  display: flex;
  color: rgb(114, 114, 114);
  font-size: clamp(0.8rem, 1.8vw, 1.1rem);
  margin-top: 1rem;
}

.leftColumn {
  width: 15%;
}

.rightColumn {
  width: 85%;
  text-align: justify;
  margin-right: 10px;
}

.pDay{
  background: #9f4636;
  color: #f1dcc9;
 padding: 5px 20px;
  border-radius: 12px;
  display: inline-block;
  font-size: 0.9rem;
}

.rightColumn p {
  margin: 0 0 4px 0; 
  line-height: 1.2; 
}

.date{
  margin: clamp(0.5rem, 1vw, 4.0rem) 0 clamp(0.5rem, 3vw, 10.0rem) 0;
  font-size: clamp(1.0rem, 2vw, 1.2rem);
  color:#9f4636;
}

.separator {
  border: none;          /* убираем стандартный стиль hr */
  height: 2px;           /* толщина линии */
  background: #9f4636;      /* цвет линии */
  width: 100%;           /* на всю ширину контейнера */
  margin: 20px 0;        /* отступы сверху и снизу */
}

.dayImage {
  width: 250px;          /* фиксированная ширина */
  height: 180px;         /* фиксированная высота (4:3) */
  object-fit: cover;
  border-radius: 12px;
  flex: 0 0 auto;        /* запрещаем сжатие/растяжение */
}

.photos {
  display: flex;
  gap: 12px;
  margin-top: 15px;
  /* justify-content: center; */
  overflow-x: auto;       /* включаем скролл */
  -webkit-overflow-scrolling: touch; /* плавный свайп */
}


/****************max-width: 950px**************************/

@media (max-width: 950px) {
.breadcrumbLink {
  padding: 0 clamp(0.1rem, 1vw, 0.6rem);
}

.photos {
  margin: 0 10px;
  justify-content: flex-start;
  }

.description {
    flex-direction: column; /* вертикально */
    padding: 5px;          /* меньше отступы */
    gap: 0;               /* убираем промежутки */
  }

  .leftContainer,
  .rightContainer {
    width: 100%;  /* на всю ширину */
  }

  .leftContainer {
    margin-bottom: 20px; /* отступ от меню до контента */
  }

  .leftMenu {
    margin-top: 20px;       /* уменьшаем отступ сверху */
    border-left: none;      /* убираем левую линию */
    border-bottom: 3px solid #9f4636; /* добавляем линию снизу для отделения */
    padding-bottom: 10px;
  }

  .leftMenu ul {
    display: flex;
    flex-wrap: wrap;       /* чтобы ссылки могли переноситься */
    justify-content: center;
    margin: 0;
  }

  .leftMenu li {
    margin: 0 15px 10px 0; /* горизонтальные отступы */
  }
}

@media (max-width: 840px) {
  .tourName {
    margin: auto;
  }
}

@media (max-width: 710px) {
  .containerschedule {  
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* вместо margin сверху/снизу */
    padding: 0 0.5rem; /* отступы слева и справа */
  }

  .leftColumn {
    width: 100%;
    padding: 0 0.5rem; 
    box-sizing: border-box;
  }

  .rightColumn {
    width: 100%;
    text-align: justify;
    padding: 0 0.5rem; 
    box-sizing: border-box;
  }
}
  

@media (max-width: 450px) {
.breadcrumbLink {
    font-size: 0.9rem;
    padding: 0 0.2rem;
  }
}