/* Общие Стили для главной страницы */
.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #F5F1EA;
  overflow-x: clip;
}

.fixedHeader {
  position: fixed;   /* фиксируем к окну */
  top: 0;            /* сверху */
  left: 0;
  width: 100%;       /* занимает всю ширину */
  z-index: 1500;     /* поверх всего */
  display: flex;
  height: 80px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   background: #F5F1EA;
}

.mainContent.noPadding {
  padding-top: 0; /* Без отступа на стартовой странице */
  min-height: 100vh; /* Полная высота */
}

.mainContent {
  flex-grow: 1; /* Контент занимает оставшееся пространство */
   /* padding-top: 60px; */
}


/******** Стили для MainPageLogo *******/

.headerContainer {
  display: flex;
  justify-content: space-between; /* Раскидывает логотип влево, а меню — вправо */
  align-items: center;           /* Выравнивает логотип и текст меню строго по вертикальному центру */
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.logoContainer {
  display: flex;
  align-items: center; /* Центрируем картинку по вертикали */
height: 100%;
}

.logoContainer a {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 100%;                    /* Если покажется мало — поставь 70% или 75%! Это стандартный способ регулировки. */
}

/*******СТИЛИ ДЛЯ MainPageMenu****************/
.headerContainerMenu {
  display: flex;
  align-items: center;
}

.menuContainer {
  position: relative;
}

.menu {
  display: flex;
  gap: 25px;
}

.menuItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubtn {
  text-decoration: none;
  color: black /* #9F4636;*/;
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  font-family: 'Manrope', cursive;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #171717;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.triangleHover {
  transform: rotate(270deg);
}

.thinGoldLine {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #9F4636;
  animation: slideIn 0.5s ease forwards;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: calc(-50vw + 50%);
  width: 100vw;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1.5s ease, opacity 1.5s ease;
}

.dropdown.open {
  max-height: 500px; /* или больше, если нужно */
  opacity: 1;
}

.thickGoldLine {
  height: 5px;
  background: #9F4636;
  animation: fillGold 1.5s ease forwards;
  width: 100%;
}

.dropdown ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
  background: white;
}

.dropdown li {
  padding: 0.5rem 1rem;
}

.dropdown a {
  text-decoration: none;
  color: #6C2C2D;
  font-size: 1rem;
}

.logoutLink {
  text-decoration: none;
  color: #171717;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.logoutIcon {
  margin-left: 0.5rem;
  font-size: 2.2rem;
}

.subMenu {
  list-style: none;
  margin: auto;
  padding: 10px;
}

.subMenuItem {
  margin: 10px 0 20px 20px;
}

.subMenuLink {
  display: flex;
  flex-direction: column; /* Изображение над текстом */
  align-items: center;
  text-decoration: none;
  color: #171717;
  font-size: 0.9rem;
  font-weight: bold;
  transition: color 0.2s ease;
}

.subMenuLink:hover {
  color: #FF9966;
}

.countryImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px; /* Отступ под изображением */
}



@keyframes slideIn {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fillGold {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
  }

  100% {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .mainContent {
  padding-top: 0;
}

.guestWarning {
  font-size: 0.8rem;
}

.headerContainerMenu {
  margin: 5px 0;
}

.headerContainer {
  margin: 5px 0 0 0;
}

  .menu {
    /* flex-wrap: wrap; */
    justify-content: center;
      gap: 5px;
  }

  .menubtn {
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .dropdown ul {
    height: 150px;
  }

  .logo {
  max-width: 50%;
}

/* .logoContainer {
  text-align: left;
  margin-left: 10vw;
} */

.fixedHeader {
  height: 60px; 
}

  @keyframes slideDown {
    0% {
      height: 0;
    }

    100% {
      height: 185px;
    }
  }

  .userSection span,
  .logoutLink {
    font-size: 0.6rem;
  }

  .userSection {
  gap: 4px;
  /* margin-right: 3rem; */
}
}

@media (max-width: 480px) {

  .menubtn {
    font-size: 0.6rem;
  }

  .guestWarning {
  font-size: 0.6rem;
}

.withGuest .fixedHeader {
  top: 20px; 
}
  .dropdown ul {
    height: 120px;
  }

  .dropdown li {
    padding: 0.3rem 0.5rem;
  }

  @keyframes slideDown {
    0% {
      height: 0;
    }

    100% {
      height: 145px;
    }
  }

  .searchIcon {
    font-size: 1.2rem;
  }

  .userSection span,
  .logoutLink {
    font-size: 0.5rem;
  }

   .logoutIcon {
    width: 18px;
    height: 18px;
  }

  .fixedHeader {
  height: 60px; 
}
}