.textContainer {
    display: flex;
    flex-direction: row; 
    margin: 60px 0; 
    background: #EEE7DD;
    align-items: center; 
    width: 100%;
    gap: 40px; 
    box-sizing: border-box;
}

.sectionImage{
    flex: 0 0 calc(50% - 10px); 
    margin-left: 40px;
    width: 100%;
    height: auto;
    padding-right: 10px;
    object-fit: cover;
    border-radius: 12px;
    box-sizing: border-box;
}

.textSection{
    flex: 0 0 calc(50% - 10px);
    font-size: 18px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    box-sizing: border-box;
}

.textTitle {
    font-size: 2.0rem;
    font-weight: 600;
    margin: 0 0 20px 0;
    font-family: 'Cormorant Garamond', serif;
    /* text-align: center; */
}

.textContainerP2{
    font-size: 1.3rem;
    line-height: 1.8;  /* чтобы текст было удобно читать */
    font-family: 'Manrope', sans-serif;
    text-align: justify;
}

.textContainer ul{
    line-height: 1.2;
    font-family: 'Manrope', cursive;
    margin-bottom: 10px;
}

.textContainer ul li{
    list-style-position: inside;
}

.linkButton{
    color: #9F4636;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {
    .textContainer {
        margin: 10px 20px;
    }

    .textTitle {
        font-size: 24px;
    }

    .textContainerP1{
        font-size: 20px;
    }

    .textContainerP2{
        font-size: 16px;
    }

    .textContainerP3{
        font-size: 16px;
    }

    .textContainer ul{
        font-size: 16px;
    }   
}   

@media (max-width: 450px) {
    .textContainer {
        margin: 10px 10px;
    }

    .textTitle {
        font-size: 20px;
    }

    .textContainerP1{
        font-size: 18px;
    }

    .textContainerP2{
        font-size: 14px;
    }

    .textContainerP3{
        font-size: 14px;
    }

    .textContainer ul{
        font-size: 14px;
    }   
}