/* MainPage/css/MainPageFooter.module.css */
.container{
  display: flex;
  flex-direction: column;
  background-image: url("/img/footer2.png");
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerFooter {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;        
   margin:  0;
}

/* Левая часть — логотип */
.leftBlock {
  display: flex;
  align-items: flex-end;
}

/* Правая часть — соцсети */
.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-end;
  padding: 20px 30px 30px 20px;  
}

.centerBlock {
  display: flex; 
  justify-content: center;
  width: 100%;
}

.centerBlock p{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 40px;
}


.logoContainer {
  position: absolute;  
  bottom: 0;            
  left: 0;                   
}

.logoImage {
  margin-left: 20px;
  max-width: 200px;
  max-height: 200px;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-right: 30px;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram {
  margin: 0; /* Центрирование SVG */
  fill: #cc39a4;
}

.card2 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  margin: 0;
  fill: #1877f2;
}

.card3 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp {
  margin: 0;
  fill: #00ff00;
}

.card4 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telegram {
  margin: 0;
  stroke: #0088cc; /* Синий Telegram */
}

.card1:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #0d3b52; /* Синий Telegram */
}

.card4:hover .telegram {
    fill: white; /* Белый самолётик при ховере */
}

/************** Адаптивность ************/

@media (max-width: 1020px) {
.centerBlock {
  flex-direction: column;
  margin: auto;
}

.centerBlock p{
  font-size: 16px;
  padding: 10px 0 0 0;
  margin: 0;
  /* margin-top: 3px; */
}
}

@media (max-width: 650px) {
.containerFooter {      
   margin: 0;
}

  .logoContainer {
    margin-bottom: 20px;
  }

  .logoImage {
    max-width: 150px;
    max-height: 150px;
  }

  .card1, .card2, .card3, .card4 {
    width: 50px;
    height: 50px;
  }

  .instagram, .facebook, .whatsapp, .telegram {
    width: 28px;
    height: 28px;
  }

  .centerBlock p{
  font-size: 14px;
  padding: 10px 0 0 0;
  margin: 0;
}
}

@media (max-width: 550px) {
.logoImage {
    max-width: 110px;
    max-height: 110px;
  }

  .card1, .card2, .card3, .card4 {
    width: 40px;
    height: 40px;
  }

  .instagram, .facebook, .whatsapp, .telegram {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 480px) {
.rightBlock {
  padding: 10px 20px 20px 10px;  
}

  .logoImage {
    max-width: 90px;
    max-height: 90px;
  }

  .card1, .card2, .card3, .card4 {
    width: 30px;
    height: 30px;
  }

  .instagram, .facebook, .whatsapp, .telegram {
    width: 15px;
    height: 15px;
  }

.centerBlock p{
  font-size: 14px;
  padding: 5px 0;
  margin: 0;
}
}