.textContainer {
    display: flex;
    flex-direction: row; 
    margin: 50px 50px;
    align-items: center; 
    gap: 30px; 
}
.sectionImage{
    flex: 1;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.textSection{
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
}

.textTitle {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
    font-family: var(--font-montserrat), sans-serif;
    text-align: center;
}

.textContainerP2{
    line-height: 1.2;  /* чтобы текст было удобно читать */
    text-align: justify;
}

.textContainerP3{
    line-height: 1.2;  /* чтобы текст было удобно читать */
    text-align: justify;
}

.textContainer ul{
    line-height: 1.2;
    margin-bottom: 10px;
}

.textContainer ul li{
    list-style-position: inside;
}

.linkButton{
    color: #9F4636;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {
    .textContainer {
        margin: 10px 20px;
    }

    .textTitle {
        font-size: 24px;
    }

    .textContainerP1{
        font-size: 20px;
    }

    .textContainerP2{
        font-size: 16px;
    }

    .textContainerP3{
        font-size: 16px;
    }

    .textContainer ul{
        font-size: 16px;
    }   
}   

@media (max-width: 450px) {
    .textContainer {
        margin: 10px 10px;
    }

    .textTitle {
        font-size: 20px;
    }

    .textContainerP1{
        font-size: 18px;
    }

    .textContainerP2{
        font-size: 14px;
    }

    .textContainerP3{
        font-size: 14px;
    }

    .textContainer ul{
        font-size: 14px;
    }   
}