.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  /* padding: 20px;  */
  box-sizing: border-box;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 40px 0;
  color: #6c2d2c
}

.toursContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 370px));
  gap: 15px;
  width: 100%;        
  max-width: 1300px;  
  justify-content: center;
}

.buttonBlog {
  background-color: #6D2C2D;
  border: none;
  color: #f1dcc9;
  padding: 15px 35px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.0rem;
  font-weight: bold;
  transition: background 0.2s ease;
}

.buttonBlog:hover {
  background: #9F4636; /* Тёплый оранжево-персиковый */
}

.linkBlog {
  text-decoration: none;
  margin:40px 0 20px 0;
}

.tourCard {
  background: #fff;
   min-height: 350px;
   text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.tourCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tourMedia {
  width: 100%;
  height: 250px;
  overflow: hidden; 
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page {
  flex: 0 0 100%;
  display: flex;
  justify-content: center; 
  gap: 20px;
}

.tourImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tourInfo {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tourName {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #42313A;
}

.tourCities {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
  line-height: 1.4;
}

.tourDetails {
  display: flex;
 flex-direction: column;
  margin-top: auto;
}

.tourDate,
.tourDays {
  font-size: 16px;
  margin-top: 10px;
  color: black
}

.tourPrice {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #9F4636;
  text-align: end;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.arrows button {
  background: #fff;
  border: none;
  font-size: 28px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: background 0.2s;
}

.arrows button:hover {
  background: #eee;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 6px;
}

.dot.activeDot {
  background: #333;
}

.pager {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

@media (max-width: 768px) {
  .containerFooter {
    padding: 15px;
  }

  .title {
    font-size: 28px;
  }
  
.linkBlog {
  margin: 20px 0 5px 0;
}

  /* .toursContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
  } */

  .tourCard {
    border-radius: 8px;
  }

  /* .tourMedia {
    height: 150px;
  } */

  .tourName {
    font-size: 16px;
  }

  .tourCities,
  .tourDate,
  .tourDays {
    font-size: 13px;
  }

  .tourPrice {
    font-size: 14px;
  }

  .buttonBlog {
  padding: 10px 25px;
  font-size: 1.0rem;
}
}

@media (max-width: 480px) {
  .containerFooter {
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  /* .toursContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  } */

  /* .tourMedia {
    height: 120px;
  } */

  .tourName {
    font-size: 14px;
  }

  .tourCities,
  .tourDate,
  .tourDays {
    font-size: 12px;
  }

  .tourPrice {
    font-size: 13px;
  }

  
  .buttonBlog {
  padding: 10px 15px;
  font-size: 0.8rem;
}
}