.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* .leftcolumn {
  width: 25%;
  height: 100vh;           
  overflow-y: auto;    
  position: sticky;
  top: 0;
} */

.leftcolumn {
  width: 25%;
  /* height: 100vh; 
  overflow-y: auto;     
  box-sizing: border-box;
  scroll-behavior: smooth; */
}

.rightcolumn {
  width: 75%;
  min-height: 800px;
}