@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebdcb2; 
  --foreground: #171717;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #ebdcb2;
}


* {
  box-sizing: border-box;
}

@layer base {
  h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  p {
    font-family: "Open Sans", sans-serif;
  }
}
