  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    object-position: center; 
        top: 0;
    left: 0;
  } */
  
  /* Черный прозрачный оверлей */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0); /* Начинаем с прозрачности */
    animation: fadeOverlay 4s ease-in-out forwards;
  }
  
  /* Блок с текстом */
   .typewriter {
    position: relative;
    z-index: 2;
    text-align: center;
  }
   
   .typewriter h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFD700;
    text-shadow: 2px 2px 10px rgba(229, 236, 30, 0.5);
    margin: 100px auto 20px auto;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(45, end) forwards;
  }
   
   .typewriter h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFD700;
    text-shadow: 2px 2px 10px rgba(229, 236, 30, 0.5);
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    opacity: 0;
    animation: fadeIn 0s 4s forwards, typing 5s steps(45, end) forwards;

  }

   /* .button {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    z-index: 3;
    background: gold;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: opacity 1.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .button.show {
    opacity: 1;
  } */

  /* Свечение при наведении */
/* .button:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); 
  transform: translateX(-50%) scale(1.05); 
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 14, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: fadeIn 0.5s ease-in-out;
} */

/* .modalContent {
  background: #F5F5F5;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  width: 40%;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.7), 0 0 40px rgba(255, 165, 0, 0.3);
  border: 1px solid #ffd700;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
} */

/* .tab {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.tab.active {
  border-bottom: 2px solid #333;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 10px;
  font-size: 16px;
 border: 1px solid #666666;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
} */

/* .formButton {
  background-color: #FFC107;
  color: #1A237E;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formButton:hover {
  background-color: #FFB300;
} */

/* .guestButton {
  background-color: #d9d4d4; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
  margin-top: 10px;
  transition: 0.2s;
} */

/* .guestButton:hover {
  background-color: #FFC107; 
}


.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
} */

/* .passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
}

.eyeIcon {
  width: 20px;
  height: 15px;
} */

/* .eyeButton img,
.eyeIcon {
  background: transparent !important;
  outline: none;
  box-shadow: none;
}

.eyeButton {
  position: absolute;
  right: 5px;
  background: none !important;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
} */

/* .eyeButton:focus,
.eyeButton:active {
  outline: none;
  box-shadow: none;
  background: transparent;
} */


.page {
  position: relative;
  min-height: 100vh;
}

/* INTRO */
.intro {
  position: fixed;
  inset: 0;
  z-index: 9999; 
  
  overflow: hidden;
  background: #000;
  transition: background-color 0.1s;
}

.intro.split {
  background: transparent;
}

/* При разъезде затемнение исчезает */
.split .overlay {
  opacity: 0;
}

.half {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 1;
  transition: transform 2.2s ease-in-out; /* SPLIT_DURATION_MS */
  will-change: transform;
}

.left { left: 0; }
.right { right: 0; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  object-fit: cover;
}
.right .video { left: -100%; }

/* Разъезд половинок */
.split .left { transform: translateX(-100%); }
.split .right { transform: translateX(100%); }

/* ТЕКСТ */
.textLayer {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 24px;
  transition: opacity 0.5s ease; /* Текст плавно исчезнет при разъезде */
}

/* Скрываем текст, когда створки поехали */
.fadeOut {
  opacity: 0;
  pointer-events: none;
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateY(14px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Первая строка: стартует почти сразу (через 0.2 сек) */
.line1 {
  font-size: clamp(26px, 3.2vw, 46px);
  font-weight: 700;
  animation: slideIn 900ms ease forwards;
}

/* Вторая строка: стартует сразу после первой */
/* 200ms (delay 1) + 900ms (duration 1) = 1100ms */
.line2 {
  margin-top: 12px;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 500;
  animation: slideIn 1200ms ease forwards;
  animation-delay: 900ms;
}

/* Кнопка "Пропустити" */
.skip {
  position: absolute;
  right: 18px;
  bottom: 18px;
  z-index: 4;

background: gold;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  backdrop-filter: blur(6px);
  transition: all 0.25s ease;
}

.skip:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); 
  opacity: 0.9;
  transform: scale(1.05);
}
  

  /* Свечение при наведении */
/* .button:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); 
  transform: translateX(-50%) scale(1.05); 
}




 /* Затемнение оверлея */
  @keyframes fadeOverlay {
    0% { background: rgba(0, 0, 0, 0); }
    100% { background: rgba(13, 19, 78, 0.5); } /* Затемняем до черного */
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

  @media (max-width: 750px) {
    .typewriter h1 {
      font-size: 1.8rem;
      margin: 150px auto 20px auto;
    }
  
    .typewriter h3 {
      font-size: 1.2rem;
    }
  
    .button {
      padding: 8px 15px;
      font-size: 0.9rem;
      width: 200px;
    }

    .tabs {
      margin: 0 20px;
    }

        .form {
          gap: 10px;}

    .form input {
      font-size: 12px;
    }
    
    .formButton {
      font-size: 12px;
    }

    .guestButton {
  font-size: 12px;
}
    .video {
      width: 100vw;
      height: 100vh; /* Сохраняем полную высоту */
      object-fit: cover; /* Заполнение без искажений */
    }

    .modalContent {
  min-width:80%;
}
  }
  
  @media (max-width: 550px) {
    .typewriter h1 {
      font-size: 1.2rem;
    }
  
    .typewriter h3 {
      font-size: 1.0rem;
    }
  
    .button {
      padding: 6px 12px;
      font-size: 0.8rem;
    }

     .modalContent {
  min-width:80%;
}
  }
  
